.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.metadata
build/
android/.gradle/
android/local.properties
android/key.properties
android/upload-keystore.jks
ios/Pods/
ios/.symlinks/
dist/
*.iml
